@import url(./site.css);

/* Header & Footer */
.header-section,
.footer-section {
    padding: 35px 0 38px;
    background-color: #74C69D;
}

.header-section {
    margin-bottom: 30px;
}

.header-section-content,
.footer-section-container {
    color: var(--white-color);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.social-media ul {
    display: flex;
    gap: 15px;
}

.social-media ul li i {
    color: var(--white-color);
}

/* Header */
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 190px;
}

.logo {
    font-size: 2.5rem;
}

.burger-menu-wrapper {
    display: none;
}

.nav-container {
    width: 390px;
}

.nav-container ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-container a {
    text-decoration: none;
    color: inherit;
}

.welcome-section {
    padding: 40px 0;
}

.welcome-container {
    max-width: 415px;
}

.welcome-container .label {
    color: var(--white-color);
}

.welcome-container p {
    color: var(--white-color-75);
    margin-bottom: 25px;
}

/* Main */
.portfolio-header-section {
    display: flex;
    justify-content: center;
    margin-bottom: 82px;
}

.section-header {
    text-align: center;
    max-width: 410px;
}

/* partner section */
.partner-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 55px;
    margin-bottom: 73px;
}

.partner-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 68px;
}

/* info section */
.info-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 110px;
}

.info-section-content {
    max-width: 470px;
}

.info-section-content p {
    color: var(--dark-color-50);
    margin-bottom: 16px;
}

.mission-info-section {
    margin-bottom: 75px;
}

.solution-info-section {
    flex-direction: row-reverse;
    margin-bottom: 110px;
}

/* talents section */
.talents-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 54px;
    gap: 45px;
}

.talents-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 47px;
}

.talents-list-item {
    padding: 20px 25px;
    box-shadow: 3px 4px 12px 1px var(--dark-color-25);
    border-radius: 5px;
}

.talents-image-wrapper {
    width: 175px;
    height: 175px;
    overflow-y: hidden;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
}

.talents-image-wrapper img {
    width: unset;
    margin: 13px;
}

.talents-section footer {
    color: var(--dark-color-75);
    text-transform: uppercase;
}

/* Portfolio page */

/* portfolio section */
.portfolio-section {
    width: 100%;
    display: grid;
    grid-template-columns: 570fr 555fr;
    margin-bottom: 64px;
    gap: 55px;
}

.more-section {
    text-align: center;
    margin-bottom: 100px;
}

/* Media queries */
@media (max-width: 1200px) {
    .site-content {
        width: 900px;
    }

    .talents-list {
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
}

@media (max-width: 1024px) {
    .site-content {
        width: 700px;
    }

    .partner-container {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 68px;
        row-gap: 40px;
    }

    .info-section {
        gap: 55px;
    }
}

@media (max-width: 768px) {
    .site-content {
        width: 500px;
    }

    /* switch navigation to burger menu */
    /* .nav-container {
        display: none;
    } */

    .nav-container ul {
        flex-direction: column;
    }

    .nav-container li:not(li:first-child) {
        padding-top: 15px;
    }

    .nav-container li:not(li:last-child) {
        border-bottom: 1px solid var(--white-color-75);
        padding-bottom: 15px;
    }

    .nav-container a {
        font-size: 2em;
    }

    .burger-menu-wrapper {
        display: block;
        background-image: url('/public/img/burger-menu.svg');
        width: 35px;
        height: 36px;
    }

    .logo-container {
        width: 130px;
    }

    .logo-container svg {
        width: 45px;
    }

    .logo {
        font-size: 1.9rem;
    }

    .welcome-section {
        flex-direction: column-reverse;
        gap: 30px;
        padding-bottom: 20px;
    }

    .partner-container {
        padding: 0;
    }

    .info-section {
        flex-direction: column;
    }

    .solution-info-section {
        margin-bottom: 40px;
    }

    .talents-list {
        grid-template-columns: 1fr;
        gap: 35px;
    }

    .portfolio-header-section {
        margin-bottom: 45px;
    }

    .portfolio-section {
        grid-template-columns: 1fr;
        row-gap: 55px;
        margin-bottom: 30px;
    }

    .more-section {
        margin-bottom: 30px;
    }

    .footer-section-container {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 568px) {
    .site-content {
        width: 320px;
    }

    .welcome-section {
        padding-bottom: 0;
    }

    h1 {
        font-size: 1.75rem;
    }

    .partner-container {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .portfolio-section article {
        width: 320px;
    }

    footer .sub-heading {
        font-size: 1rem;
    }
}